WEATHER_API_KEY=<YOUR_QWEATHER_API_KEY>
WEATHER_LOCATION=<LOCATION_ID_OR_LNG_LAT>
WEATHER_API_HOST=https://devapi.qweather.com
QWEATHER_LANG=zh
QWEATHER_UNIT=m
WEATHER_NAME=My City

DATAGOVSG_API_KEY=<OPTIONAL_DATAGOVSG_API_KEY>
AREA=City
TRAFFIC_CAMERA_ID=1704
SHOW_TRAFFIC=false
